.employee-section {
  list-style: none;
  border-style: solid;
  border-radius: 5px;
  margin: 15px;
  padding: 5px;
  -webkit-box-shadow: 10px 10px 36px -13px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 36px -13px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 36px -13px rgba(0, 0, 0, 0.75);
}
