.title {
  padding: 2em;
  font-weight: 900;
  color: white;
}

.btn-plus {
  background-color: Transparent;
  background-repeat: no-repeat;
  border-radius: 5px;
  padding: 1em;
  margin-right: 5px;
  width: 200px;
  font-weight: 800;
  color: white;
  cursor: pointer;
  outline: none;
}

.btn-minus {
  background-color: Transparent;
  background-repeat: no-repeat;
  border-radius: 5px;
  padding: 1em;
  width: 200px;
  margin-left: 5px;
  font-weight: 800;
  color: white;
  cursor: pointer;
  outline: none;
}
